@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-primary: #8b5cf6;
  --color-primary-foreground: #ffffff;
}

:root {
  /* Dark mode by default */
  --background: #09090b;
  --foreground: #ededed;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Prevent body scroll to stop URL bar hiding */
  overscroll-behavior: none;
  /* Prevent pull-to-refresh effects */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  position: Fixed;
  /* Strongest lock for mobile */
}